ETL.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "0e90e089-303a-ba6b-4a79-b7b06ac7ca9b",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Bronze fact",
        "dependsOn": [
          {
            "activity": "If Condition to update dim tables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "614d0c64-70bd-a390-44ec-8e94636f2106",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "b_countries": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).b_countries",
                "type": "Expression"
              },
              "type": "string"
            },
            "b_fact_tv": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).b_fact_tv",
                "type": "Expression"
              },
              "type": "string"
            },
            "b_fact_movies": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).b_fact_movies",
                "type": "Expression"
              },
              "type": "string"
            },
            "b_genre_tv": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).b_genre_tv",
                "type": "Expression"
              },
              "type": "string"
            },
            "b_genre_movie": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).b_genre_movie",
                "type": "Expression"
              },
              "type": "string"
            },
            "b_languages": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).b_languages",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_countries": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_countries",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_fact_tv": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_fact_tv",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_fact_movies": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_fact_movies",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_genre_combined": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_genre_combined",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_languages": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_languages",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Silver",
        "dependsOn": [
          {
            "activity": "Bronze fact",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "03b1fdac-d667-94bd-4321-1a0885e37783",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "s_countries": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_countries",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_fact_tv": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_fact_tv",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_fact_movies": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_fact_movies",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_genre_combined": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_genre_combined",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_languages": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_languages",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_countries": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).g_countries",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_fact_tv": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).g_fact_tv",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_fact_movie": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).g_fact_movies",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_genre_combined": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).g_genre_combined",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_languages": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).g_languages",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_genre_movie_bridge": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).g_genre_movie_bridge",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_genre_bridge_tv": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).g_genre_tv_bridge",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Gold",
        "dependsOn": [
          {
            "activity": "Silver",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "select day(CAST(GETDATE() AS DATE)) as day",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "StagingWarehouseForDataflows_20250717052155",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "6b8d43a5-a851-4e7b-9482-195657db8903",
                  "endpoint": "zhmk23ikgfteve2k3efvtgnvwa-l4zlc3stxefetnkva2yx7bjbza.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "6eb1325f-b953-490a-b555-06b17f8521c8"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup1",
        "dependsOn": []
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@or(\n    equals(activity('Lookup1').output.firstRow.day, 15),\n    equals(activity('Lookup1').output.firstRow.day, 28)\n)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "75e11ced-78c1-a816-42ba-4f37d8727ef9",
                "workspaceId": "00000000-0000-0000-0000-000000000000"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Bronze dim",
              "dependsOn": []
            }
          ],
          "ifFalseActivities": []
        },
        "name": "If Condition to update dim tables",
        "dependsOn": [
          {
            "activity": "Lookup1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "PBISemanticModelRefresh",
        "typeProperties": {
          "method": "post",
          "groupId": "6eb1325f-b953-490a-b555-06b17f8521c8",
          "datasetId": "dbe47dd7-b892-450c-a564-610fb1005b4a",
          "commitMode": "Transactional",
          "objects": [
            {
              "table": "genre_tv_bridge"
            },
            {
              "table": "fact_movies"
            },
            {
              "table": "genre_combined"
            },
            {
              "table": "genre_movie_bridge"
            },
            {
              "table": "languages"
            },
            {
              "table": "countries"
            },
            {
              "table": "fact_tv"
            },
            {
              "table": "Date"
            }
          ],
          "waitOnCompletion": true,
          "operationType": "SemanticModelRefresh"
        },
        "externalReferences": {
          "connection": "bc927628-dfac-439b-81c3-7409f123b62c"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Semantic model refresh",
        "dependsOn": [
          {
            "activity": "Gold",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "aab196aa-baeb-bf19-47d9-411cb7f21271",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Local sync",
        "dependsOn": [
          {
            "activity": "Semantic model refresh",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}