Historic/ETL_historic.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "0cb7e636-db31-8c5b-426f-d107e9a9730d",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Bronze",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "614d0c64-70bd-a390-44ec-8e94636f2106",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "b_countries": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).b_countries",
                "type": "Expression"
              },
              "type": "string"
            },
            "b_fact_tv": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).b_fact_tv",
                "type": "Expression"
              },
              "type": "string"
            },
            "b_fact_movies": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).b_fact_movies",
                "type": "Expression"
              },
              "type": "string"
            },
            "b_genre_tv": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).b_genre_tv",
                "type": "Expression"
              },
              "type": "string"
            },
            "b_genre_movie": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).b_genre_movie",
                "type": "Expression"
              },
              "type": "string"
            },
            "b_languages": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).b_languages",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_countries": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).s_countries",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_fact_tv": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).s_fact_tv",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_fact_movies": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).s_fact_movies",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_genre_combined": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).s_genre_combined",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_languages": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).s_languages",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Silver",
        "dependsOn": [
          {
            "activity": "Bronze",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "a0625740-fd3d-9df5-4ca9-441781df6790",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "s_countries": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).s_countries",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_fact_tv": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).s_fact_tv",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_fact_movies": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).s_fact_movies",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_genre_combined": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).s_genre_combined",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_languages": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).s_languages",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_countries": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).g_countries",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_fact_tv": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).g_fact_tv",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_fact_movie": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).g_fact_movies",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_genre_combined": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).g_genre_combined",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_languages": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).g_languages",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_genre_movie_bridge": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).g_genre_movie_bridge",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_genre_bridge_tv": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).g_genre_tv_bridge",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Gold",
        "dependsOn": [
          {
            "activity": "Silver",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}