Daily ETL.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "3459e726-be28-9041-4973-5f90b030a6e7",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "b_countries": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).b_countries",
                "type": "Expression"
              },
              "type": "string"
            },
            "b_fact_tv": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).b_fact_tv",
                "type": "Expression"
              },
              "type": "string"
            },
            "b_fact_movies": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).b_fact_movies",
                "type": "Expression"
              },
              "type": "string"
            },
            "b_genre_tv": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).b_genre_tv",
                "type": "Expression"
              },
              "type": "string"
            },
            "b_genre_movie": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).b_genre_movie",
                "type": "Expression"
              },
              "type": "string"
            },
            "b_languages": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).b_countries",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_countries": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_countries",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_fact_tv": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_fact_tv",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_fact_movies": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_fact_movies",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_genre_combined": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_genre_combined",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_languages": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_languages",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Silver Nb",
        "dependsOn": [
          {
            "activity": "Bronze - dim",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "03b1fdac-d667-94bd-4321-1a0885e37783",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "s_countries": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_countries",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_fact_tv": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_fact_tv",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_fact_movies": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_fact_movies",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_genre_combined": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_genre_combined",
                "type": "Expression"
              },
              "type": "string"
            },
            "s_languages": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).s_languages",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_countries": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).g_countries",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_fact_tv": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).g_fact_tv",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_fact_movie": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).g_fact_movies",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_genre_combined": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).g_genre_combined",
                "type": "Expression"
              },
              "type": "string"
            },
            "g_languages": {
              "value": {
                "value": "@json(activity('Bronze fact').output.result.exitValue).g_languages",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Gold Nb",
        "dependsOn": [
          {
            "activity": "Silver Nb",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "23dc2556-7ef1-85a1-48c0-6293bbdcfa19",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SQL Server sync",
        "dependsOn": [
          {
            "activity": "Gold Nb",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "75e11ced-78c1-a816-42ba-4f37d8727ef9",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Bronze - dim",
        "dependsOn": [
          {
            "activity": "Bronze fact_tv",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "0e90e089-303a-ba6b-4a79-b7b06ac7ca9b",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Bronze fact",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "2544c616-a17b-9c6d-4ccc-71ae66cef328",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Bronze fact_tv",
        "dependsOn": [
          {
            "activity": "Bronze fact",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}